<!DOCTYPE html>
<html>
<head>
<title>Service 2</title>
</head>

<body>
<h1>This service should provide a lista of courses to the first service.</h1>
<a href="/courses">List of courses</a>
</body>
</html>
